{% extends 'base.html'%} {% block content %}
<section class="main-banner" id="home">
    <div class="container">
        <div class="banner banner0">
            <div class="slogan">
                <h4 id="heading"><a
                        href="https://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwjOu_LMob7lAhVkA2MBHSvnAEcQjRx6BAgBEAQ&url=https%3A%2F%2Fwww.vectorstock.com%2Froyalty-free-vector%2Faward-gold-star-and-laurel-competition-banner-vector-20010004&psig=AOvVaw3ghdyONIV8ZVuW5M9cOJfM&ust=1572328310790200">Awwards</a>
                </h4>
                <!--                <div class="rotate">-->
                <!--                    <a href="#about" class="scroll">-->

                <!--                        <span class="fa fa-long-arrow-down">-->
                <!--</span> </a>-->
                <!--                </div>-->
                <div class="banner-high-lights text-left">

                    <div class="rotate">
                        <a href="#about" class="scroll">

                            <span class="fa fa-long-arrow-down"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- what we do -->
<section id="about">

    <div class="container">

        <div class="text-center">
            <h3 class="title_head mt-8">Search projects</h3>

            <form class="form-input" role="search" action="/search">

                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search Projects..." name="image">

                    <div class="input-group-btn">
                        <button class="btn btn-success" type="submit"><i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>
                </div>

            </form>

            <p class="first_p ">Search projects</p>
        </div>
    </div>
</section>
<!-- Gallery -->
<section class="gallery py-5" id="gallery">

    <div class="container">

        <div class="inner-sec-wthree py-lg-5 py-3">

            <div class="text-center">
                <h3 class="tittle_head">Collection</h3>

                <p class="text-center mx-auto">A collection of projects.</p>
            </div>

            <div class="row news-grids mt-lg-5 mt-4 text-center">
                {%for image in all_images %}

                <div class="col-md-4 gal-img">
                    <a href="#gal1"><img src="{{image.image.url}}" alt="gallery img" class="img-fluid"></a>
                    <div class="mr-3 ml-3">
                        <p class="mt-2">{{image.title}}</p>
                        <div class="user-details">
                            <p>from location</p>


                        </div>
                        <div class="p-and-t-row">
                            <div class="username">
                                <div class="prof-row">
                                    <img src="" alt="">
                                    <p>By {{user.user.name}} name</p>
                                </div>
                                <div class="tag-row">
                                    <p><span>html</span> <span>css</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
